.button {
  border-radius: 10px;
  padding: 10px 20px;
  border-width: 0;
  cursor: pointer;

  &.red {
    background-color: red;
    color: white;

    &:hover {
      background-color: darkred;
    }

    &:active {
      background-color: darkred;
    }

    &:disabled {
      background-color: lightcoral;
      cursor: not-allowed;
    }
  }

  &.blue {
    background-color: #1569ad;
    color: white;

    &:hover {
      background-color: #0e4b7f;
    }

    &:active {
      background-color: #0e4b7f;
    }

    &:disabled {
      background-color: #4d8fc9;
      cursor: not-allowed;
    }
  }
}
